In [3]:
from utilities import *

In [ ]:
#X_train, labels_train = read_data_old(data_path="F:\\Documents\\Kaggle\\PLAsTiCC", split="train") # train
#X_test, labels_test = read_data_old(data_path="F:\\Documents\\Kaggle\\PLAsTiCC", split="test") # test

In [ ]:
#X_train[:,:,1].shape

In [ ]:
#np.savetxt('F:\\Documents\\Kaggle\\Results\\u_band_p_train.csv', X_train[:,:,0], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\g_band_p_train.csv', X_train[:,:,1], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\r_band_p_train.csv', X_train[:,:,2], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\i_band_p_train.csv', X_train[:,:,3], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\z_band_p_train.csv', X_train[:,:,4], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\y_band_p_train.csv', X_train[:,:,5], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\u_band_p_test.csv', X_test[:,:,0], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\g_band_p_test.csv', X_test[:,:,1], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\r_band_p_test.csv', X_test[:,:,2], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\i_band_p_test.csv', X_test[:,:,3], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\z_band_p_test.csv', X_test[:,:,4], delimiter = ',')
#np.savetxt('F:\\Documents\\Kaggle\\Results\\y_band_p_test.csv', X_test[:,:,5], delimiter = ',')

In [ ]:
X, labels = read_data_full_p(data_path="F:\\Documents\\Kaggle\\PLAsTiCC")

In [ ]:
np.savetxt('F:\\Documents\\Kaggle\\Results2\\u_band_p.csv', X[:,:,0], delimiter = ',')
np.savetxt('F:\\Documents\\Kaggle\\Results2\\g_band_p.csv', X[:,:,1], delimiter = ',')
np.savetxt('F:\\Documents\\Kaggle\\Results2\\r_band_p.csv', X[:,:,2], delimiter = ',')
np.savetxt('F:\\Documents\\Kaggle\\Results2\\i_band_p.csv', X[:,:,3], delimiter = ',')
np.savetxt('F:\\Documents\\Kaggle\\Results2\\z_band_p.csv', X[:,:,4], delimiter = ',')
np.savetxt('F:\\Documents\\Kaggle\\Results2\\y_band_p.csv', X[:,:,5], delimiter = ',')

In [35]:
z = pd.read_csv('predictions.csv')

print(z.groupby('object_id').size().max())
print((z.groupby('object_id').size() > 1).sum())

z = z.groupby('object_id').mean()

#z.to_csv('single_predictions.csv', index=True)

2
14

In [36]:
z.iloc[0:10,:].sum(axis=1)

object_id
13.0    1.150522
14.0    1.147854
17.0    1.149806
23.0    1.164482
34.0    1.140335
35.0    1.140490
43.0    1.165170
50.0    1.169043
60.0    1.127309
69.0    1.159491
dtype: float64

In [37]:
z_new = z
z_new["sum"] = z_new.sum(axis=1)
z_new.head()

,class_6,class_15,class_16,class_42,class_52,class_53,class_62,class_64,class_65,class_67,class_88,class_90,class_92,class_95,class_99,sum
object_id,,,,,,,,,,,,,,,,
13.0,1.580081e-04,0.002853,6.512476e-05,0.523914,0.118225,4.137484e-05,0.303071,0.000010,0.000008,0.006149,0.000020,0.045350,4.787143e-06,0.000131,0.150522,1.150522
14.0,5.489036e-07,0.023866,4.698010e-07,0.132888,0.191737,1.156589e-06,0.046179,0.000559,0.001009,0.032820,0.000219,0.567009,5.757896e-08,0.003711,0.147854,1.147854
17.0,9.657697e-08,0.021399,3.279981e-06,0.149063,0.218559,2.217887e-06,0.040288,0.000257,0.000298,0.012129,0.005285,0.549683,3.806264e-07,0.003035,0.149806,1.149806
23.0,7.784936e-06,0.011197,1.850445e-08,0.086983,0.069371,3.485767e-07,0.091010,0.000494,0.000062,0.350409,0.000014,0.389869,7.722858e-10,0.000584,0.164482,1.164482
34.0,1.487229e-06,0.008278,9.404069e-08,0.092012,0.256403,6.574999e-07,0.029980,0.000036,0.000166,0.016405,0.000025,0.595771,3.733323e-08,0.000921,0.140335,1.140335

In [38]:
z_new = z_new.loc[:,"class_6":"class_99"].div(z_new["sum"], axis=0)
z_new.index = z_new.index.map(int)
z_new.head()

,class_6,class_15,class_16,class_42,class_52,class_53,class_62,class_64,class_65,class_67,class_88,class_90,class_92,class_95,class_99
object_id,,,,,,,,,,,,,,,
13,1.373360e-04,0.002480,5.660452e-05,0.455370,0.102758,3.596179e-05,0.263421,0.000008,0.000007,0.005345,0.000017,0.039417,4.160843e-06,0.000114,0.130830
14,4.781999e-07,0.020792,4.092865e-07,0.115771,0.167039,1.007610e-06,0.040231,0.000487,0.000879,0.028592,0.000191,0.493973,5.016228e-08,0.003233,0.128809
17,8.399414e-08,0.018611,2.852639e-06,0.129641,0.190084,1.928923e-06,0.035039,0.000223,0.000259,0.010549,0.004596,0.478066,3.310353e-07,0.002639,0.130288
23,6.685322e-06,0.009615,1.589072e-08,0.074696,0.059573,2.993407e-07,0.078155,0.000424,0.000053,0.300914,0.000012,0.334801,6.632013e-10,0.000502,0.141249
34,1.304204e-06,0.007259,8.246758e-08,0.080689,0.224849,5.765847e-07,0.026291,0.000032,0.000145,0.014386,0.000022,0.522452,3.273882e-08,0.000808,0.123065

In [39]:
z_new.to_csv('single_predictions.csv', index=True)